/* General Styles */
body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Join Button */
#join-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 15px 30px;
    background: #0077FF;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#join-btn:hover {
    background: #005FCC;
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

/* Video Streams Grid */
#video-streams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    height: 90vh;
    width: 95%;
    margin: 1em auto;
}

/* Video Container */
.video-container {
    position: relative;
    background-color: #202832;
    border: 2px solid #3A4A58;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.video-container:hover {
    transform: scale(1.02);
}

.video-player {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Stream Controls */
#stream-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1em;
}

button {
    border: none;
    background-color: #0077FF;
    color: #fff;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #005FCC;
    transform: scale(1.05);
}

/* Responsive Design */
@media screen and (max-width: 1400px) {
    #video-streams {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 100%;
    }
    }
    
